//Color
$color-primary:#034277;
$color-primary-light: #3c8dbc;
$color-primary-dark: #01295C;

$color-secondary:#f20a15;
$color-secondary-light:#ff000d;
$color-secondary-dark:#cc0812;

$color-blue-light-1: #367fa9;
$color-blue-light-2: #3c8dbc;


$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;

$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-white:#fff;
$color-black:#000;

//FONT
$default-font-size:1.8rem;

//GRID
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;


