<div class="maincontainer">
    <header class="header">
        <h1 class="u-center-text">
            <span class="heading-secondary">
               Hệ thống kinh doanh và dịch vụ khách hàng
            </span> 
      </h1>
    </header>
    <section class="login__container">
        <div class="login__form login__animated">
            <form action="#" class="form">
                <div class="u-margin-bottom-medium u-center-text">
                    <h2 class="heading-secondary">
                        Đăng nhập
                    </h2>
                </div>
                <div class="form__group">
                    <input type="text" class="form__input" placeholder="Tên đăng nhập" id="password" required>
                    <label for="password" class="form__label">Tên đăng nhập</label>
                </div>
    
                <div class="form__group">
                    <input type="password" class="form__input" placeholder="Mật khẩu" id="password" required>
                    <label for="password" class="form__label">Mật khẩu</label>
                </div>
                <div class="form__group u-center-text">
                    <button (click)="login()"  class="btn btn--blue">Đăng nhập</button>
                </div>
            </form>
        </div>
        
    </section>
   
</div>
