@import "../../assets/customStyles/mainstyles.scss";

.maincontainer{
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light,.8),rgba($color-primary-dark,.8));
    background-size: cover;
    background-position: top;
    overflow: scroll;
}
.header{
  padding: 5rem 0;
  animation: moveInRight 2s ease-out;
}
.login{
    &__container{
        -webkit-justify-content: center;
        justify-content: center;
        display: flex;
    }
    &__form{
        width: 40rem;
        padding: 4rem;
        background-image: linear-gradient(to right bottom,rgba($color-primary-light, .9) 20%,
                                                          rgba($color-grey-light-2, .9) 80%);
        box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
        border-radius: .8rem;
        backface-visibility: hidden;
      
    }
    &__animated{
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}
